.card {
	height: 35em;
}

.card__description,
.card__image {
	height: 50%;
}

.card__description {
	padding: 2em 2em 0 2em;
	position: relative;
	z-index: 0;
}

.card__description::after {
	content: "";
	width: 50px;
	height: 50px;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 20%) rotate(45deg);
	z-index: -1;
}

.card__description__title {
	font-size: 2.5em;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 1em;
}

.card__description__subtitle {
	font-size: 1.2em;
}

.card__description__subtitle::after {
	content: "";
	height: 2px;
	width: 45%;
	background: red;
	display: block;
	margin: 0.5em auto 1.5em;
}

.card__description__desc {
	font-size: 1.2em;
}

.card__image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 0 2em 2em 2em;
}

.card__first-part-border,
.card__second-part-border {
	border: 2px solid;
	width: 100%;
	height: 100%;
	padding: 0 3em;
	overflow: hidden;
}

.card__first-part-border {
	border-color: black;
	border-bottom: none;
}

.card__second-part-border {
	border-color: white;
	border-top: none;
}

@media (min-width: 768px) {
	.card {
		display: flex;
		height: 24em;
	}

	.card__first-part-border {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.card:nth-child(2n) {
		flex-direction: row-reverse;
	}

	.card:nth-child(2n + 1) .card__first-part-border {
		border-bottom: solid;
		border-right: none;
		border-color: black;
	}

	.card:nth-child(2n + 1) .card__second-part-border {
		border-top: solid;
		border-left: none;
		border-color: white;
	}

	.card:nth-child(2n) .card__first-part-border {
		border-bottom: solid;
		border-left: none;
		border-color: black;
	}

	.card:nth-child(2n) .card__second-part-border {
		border-top: solid;
		border-right: none;
		border-color: white;
	}

	.card__description,
	.card__image {
		height: 100%;
		width: 50%;
	}

	.card:nth-child(2n + 1) .card__description {
		padding: 2em 0 2em 2em;
	}
	.card:nth-child(2n + 1) .card__image {
		padding: 2em 2em 2em 0;
	}

	.card:nth-child(2n) .card__description {
		padding: 2em 2em 2em 0;
	}
	.card:nth-child(2n) .card__image {
		padding: 2em 0 2em 2em;
	}

	.card:nth-child(2n + 1) .card__description::after {
		left: 100%;
		bottom: 50%;
		transform: translate(-70%, 50%) rotate(45deg);
	}

	.card:nth-child(2n) .card__description::after {
		left: 0%;
		bottom: 50%;
		transform: translate(-30%, 50%) rotate(45deg);
	}

	.card__description__title {
		margin-top: 0;
	}
}

@media (min-width: 1090px) {
	.card {
		width: 120%;
		margin-left: -10%;
	}
}
