.header {
	display: flex;
	justify-content: space-between;
	padding: 8px 14px;
	align-items: center;
	z-index: 2;
	position: relative;
}

.header__logo {
	font-weight: 300;
	font-size: 1.2em;
	padding: 4px 13px 4px 11px;
	border: 1px solid #f34739;
	border-radius: 20px 0px 20px 20px;
	width: 80px;
	height: 30px;
}

.header__logo-icons {
	align-items: center;
}

.header__social-icons {
	display: none;
}

@media (min-width: 768px) {
	.header {
		grid-column: 1/4;
		display: grid;
		grid-template-columns: 1fr 1fr 6fr 2fr 3fr;
		padding: 0;
	}

	.header__logo {
		grid-column-start: 1;
	}

	.header__logo-icons {
		display: grid;
		grid-column: 2/5;
		/* grid-template-columns: 3fr 5fr 1fr; */
	}

	.header__social-icons {
		grid-column: 5;
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 1.3em;
	}

	.header__social-icons__link {
		padding: 0.4em;
	}
}
