.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery__image-wrapper {
	overflow: hidden;
	width: 33.3333vw;
	height: 33.3333vw;
	display: block;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	background: none;
	border: none;
	padding: 0;
}

.gallery__image {
	width: 102%;
	height: 102%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	filter: saturate(0);
	transition: filter 0.15s ease-in-out, transform 0.3s ease-in-out;
}

.gallery > .gallery__image-wrapper:nth-child(9) ~ .gallery__image-wrapper {
	display: none;
}

.gallery__image-wrapper:hover .gallery__image {
	filter: saturate(1);
	transform: scale(1.2);
}

.gallery__image__eye-icon {
	font-size: 13vw;
	color: white;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gallery__image-wrapper:hover .gallery__image__eye-icon {
	opacity: 1;
}

@media (min-width: 768px) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-column: 1/4;
	}

	.gallery__image-wrapper {
		width: 100%;
		height: calc(100vw / 8);
	}

	.gallery > .gallery__image-wrapper:nth-child(9) ~ .gallery__image-wrapper {
		display: block;
	}

	.gallery__image__eye-icon {
		font-size: 4vw;
	}
}
