.footer {
	background: #101010;
	color: #4a4a4a;
}

.footer__section {
	padding: 3em 5em;
}

.footer__section__title {
	text-transform: uppercase;
	font-weight: 300;
	color: white;
	font-size: 1.8em;
}

.footer__section__title::after {
	content: "";
	height: 1px;
	width: 4.5em;
	margin: 0.5em auto 1.2em;
	display: block;
	background: #019081;
}

.footer__section__text {
	line-height: 2em;
	font-size: 1.1em;
}

.copyright {
	padding-bottom: 20px;
}

@media (min-width: 768px) {
	.footer {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 70em) 1fr;
	}

	.footer__wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.footer__section {
		padding: 3em 4em;
		width: 100%;
	}

	.copyright {
		grid-column: 2;
	}
}
