.App {
	text-align: center;
}

/* Turn off animations on mobile */
@media (max-width: 767px) {
	[data-aos^="fade"],
	[data-aos^="flip"] {
		transform: none !important;
		opacity: 1 !important;
		transition: none !important;
	}
}

@media (min-width: 768px) {
	.App {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 70em) 1fr;
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 70em) 1fr;
	}

	.content-wrapper {
		grid-column: 2;
	}

	.content-wrapper.grid-span-all {
		grid-column: 1/4;
	}
}
